<!-- <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox>-->
<div class="slidecontainer">
  <input type="range" min="2020" max="2100" value="2020" class="slider" id="yearSliderInput">
  <p>Jahr: <input type="number" id="yearTextInput"></p>
</div>
<!--
<mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>

<div class="range">
  <input type="range" min="2020" max="2100" steps="1" value="1">
</div>

<ul class="range-labels">
  <li class="active selected">2020</li>
  <li>2030</li>
  <li>2040</li>
  <li>2050</li>
  <li>2060</li>
  <li>2070</li>
  <li>2080</li>
  <li>2090</li>
  <li>2100</li>
</ul>
-->
<mat-tab-group (selectedTabChange)="selectedTab($event)" [(selectedIndex)]="categoryIndex" mat-align-tabs="left" animationDuration="0ms" onload="loadContent()">
  <mat-tab label="Übersicht">Übersicht
    <!--Inhalt Übersicht -->

    <div id="overview">

    </div>
  </mat-tab>
  <mat-tab label="Presets">
    <mat-tab-group animationDuration="0ms" [(selectedIndex)]="groupIndex" (selectedTabChange)="selectCategory($event)" #gender headerPosition="above">
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        <button id="saveButton" mat-raised-button color="secondary" (click)="savePopulation()">Speichern</button>
        <table>
          <tr>
            <td>
              Frauen : <input matInput placeholder="Frauen" id="femaleAmountInput" disabled="true"><br>
              <div id="genderF"></div>
            </td>
            <td>
              Männer : <input matInput placeholder="Männer" id="maleAmountInput" disabled="true"><br>
              <div id="genderM"></div>
            </td>
          </tr>
        </table>
        
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Fertilität">
    <mat-tab-group animationDuration="0ms" [(selectedIndex)]="groupIndex" (selectedTabChange)="selectCategory($event)" #fertility>
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        <button id="saveButton" mat-raised-button color="secondary" style="visibility: hidden;" (click)="saveFertility()">Speichern</button>
        <table>
          <tr>
            <td>
              Frauen : <input matInput placeholder="Fertilität" id="femaleAmountInput"><br>
              <div id="fertilityF"></div>
            </td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Einwanderung">
    <mat-tab-group  animationDuration="0ms" [(selectedIndex)]="groupIndex" (selectedTabChange)="selectCategory($event)" #migration>
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        <button id="saveButton" mat-raised-button color="secondary" style="visibility: hidden;" (click)="saveImmigration()">Speichern</button>
        <table>
          <tr>
            <td>
              Frauen : <input matInput placeholder="Frauen" id="femaleAmountInput"><br>
              <div id="migrationF"></div>
            </td>
            <td>
              Männer : <input matInput placeholder="Männer" id="maleAmountInput"><br>
              <div id="migrationM"></div>
            </td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Überlebensrate">
    <mat-tab-group  animationDuration="0ms" [(selectedIndex)]="groupIndex" (selectedTabChange)="selectCategory($event)" #deathRate>
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        <button id="saveButton" mat-raised-button color="secondary" style="visibility: hidden;" (click)="saveSurvive()">Speichern</button>
        <table>
          <tr>
            <td>
              Frauen : 
              <div id="surviveF"></div>
            </td>
            <td>
              Männer :
              <div id="surviveM"></div>
            </td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Nachzug">
    <mat-tab-group  animationDuration="0ms" [(selectedIndex)]="groupIndex" (selectedTabChange)="selectCategory($event)" #followUp>
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        <button id="saveButton" mat-raised-button color="secondary" style="visibility: hidden;" (click)="saveReunification()">Speichern</button>
        <table>
          <tr>
            <td>
              Frauen : <input matInput placeholder="Frauen" id="femaleAmountInput"><br>
              <div id="reunificationF"></div>
            </td>
            <td>
              Männer : <input matInput placeholder="Männer" id="maleAmountInput"><br>
              <div id="reunificationM"></div>
            </td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>

<!--Geschlechtsverteilung', 'Fertilität', 'Einwanderung', 'Sterberate', 'Nachzug']; -->
<!--
<mat-tab-group>
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="selectedTab($event)">
      <mat-tab label="Übersicht">Übersicht </mat-tab>

      <mat-tab label="Geschlechtsverteilung">Verteilung Geschlecht
        <br/>
        <button mat-raised-button class="TabExampleComponent" (click)="setRandomValues()">Load Random Values</button>
        <br/>
      </mat-tab>
      <mat-tab label="Fertilität"> Fertilitätsraten</mat-tab>
      <mat-tab label="Einwanderung"> Einwanderung</mat-tab>
      <mat-tab label="Auswanderung"> Auswanderung</mat-tab>
      <mat-tab label="Sterberaten"> Sterberaten </mat-tab>
      <mat-tab label="Nachzug"> Nachzug</mat-tab>


    </mat-tab-group>

  </mat-tab>
</mat-tab-group>
-->

<!--- VARIANTE ZUM AUSPROBIEREN
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Deutschland">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Fertilität"> Fertilität</mat-tab>
      <mat-tab label="Sterbe"> Sterbe</mat-tab>
      <mat-tab label="irgendwas"> irgendwas </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Einwanderer Stufe 1 ">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Fertilität"> Fertilität</mat-tab>
      <mat-tab label="Sterbe"> Sterbe</mat-tab>
      <mat-tab label="irgendwas"> irgendwas </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
-->
