<div class="row">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        Falsch abgebogen</h1>
      <h2>
        404 Not Found</h2>
      <div class="error-details">
        Sorry, es ist ein Fehler mit der angefragten Seite aufgetreten. Seite nicht gefunden
      </div>
      <div class="error-actions">
        <a routerLink="" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
          Zurück zum Start </a>
      </div>
    </div>
  </div>
</div>
